/* Variables */
:root{

  /* My modified colors 1 */
  /* --green: #d77700;
  --orange: #021e29; */

  /* My modified colors 2 */
  --green: #c07b03;
  /* --green: #03c08f; */
  --orange: #010b0c;

  /* Colors of Umrah Insights */
  /* --green: #033F3F; */
  /* --orange: #db7e46; */
}

/* utility classes */
.bg-theme-green{
  background-color: var(--orange);
  background-image: url('/bg-small.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Menu Icon */
#menuIcon{
  display: none;
  border-radius: 4px;
  padding: 10px 12px;
  background-color: var(--green);
  color: white;
  font-size: 1.7rem;
}

/* Header Small */
#headerSmall{
  height: 50vh;
  background-image: url('/h172.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.237);
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
}
#headerSmall .pageTitle{
  color: white;
  font-size: 2rem;
  font-weight: bold;
  align-self: center;
  margin-top: 70px;
}

/* Main Container */
#main{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

/* NavBar */
#nav{
  display: flex;
  padding: 1.7rem 0rem;
  justify-content: space-around;
  align-items: center;
}

#nav ul{
  list-style: none;
  display: flex;
  gap: 25px;
  margin-bottom: 0;
  align-items: center;
}

#mobileMenu{
  display: none;
  color: white;
  background-color: rgba(2, 30, 22, 0.781);
  backdrop-filter: blur(8px);
  transition: 0.3s;
  width: 75vw;
  position: fixed;
  z-index: 2;
  height: 100vh;
  top: 0px;
  left: -75vw;
  display: flex;
  flex-direction: column;
  padding: 10vh 0px;
  align-items: center;
  row-gap: 5vh;
}

.navItem, .navItem *{
  color: white;
}

/* Logo Box */

.logoBox{
  display: flex;
  gap: 15px;
  align-items: center;
}

.logoText{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 10px;
}

.logoTextSpan{
  color: white;
  line-height: 19px;
}

.logoTextSpan:nth-child(1){
  font-size: 1.7rem;
  font-weight: bold
}

.logoTextSpan:nth-child(2){
  font-size: 1.4rem;
}

.logoImg{
  width: 72px;
  height: 60px;
}

/* ______________ */

.navLink{
  text-decoration: none;
  color: white;
}

.navLink:hover{
  color: rgb(255, 194, 82);
}

.black.navLink{
  color: black;
}

/* Buttons */
.myBtn{
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  padding: 0 22px;
  border-radius: 4px;
  border: 0px;
  color: white;
}

.myBtn.btnYellow{
  background-color: var(--green);
}

.myBtn.noBorderRadius{
  border-radius: 0px;
}

/* Package card Old */
.pkgCard{
  width: 410px;
  box-shadow: 1px 1px 8px #bbbbbb;
  /* border: 1px solid rgb(161, 161, 161); */
  border-radius: 16px;
}

.pkgImg{
  width: 100%;
  overflow: hidden;
  border-radius: inherit;
  height: 300px;
}

.pkgCard .textBox{
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pkgCard .textBox .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pkgCard .textBox .top .duration, .pkgCard .textBox .top .price{
  font-weight: bold;
  font-size: 1.1rem;
}

.pkgCard .textBox .top .duration{
  color: #747474;
}

.pkgCard .textBox .top .price{
  color: #2e2e2e;
}

.pkgCard .textBox .title{
  font-size: 1.2rem;
  color: white;
  background-color: rgb(1, 53, 57);
  padding: 16px 5px;
  border-radius: 5px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0px;
}

.pkgCard .textBox .title svg{
  width: 25px;
  height: 25px;
}

.pkgCard .textBox .title svg path{
  color: gold;
}

.pkgCard .hotelContainer{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pkgCard .hotelContainer .hotel .hotelTitle{
  color: #007487;
  margin-bottom: 3px;
  font-size: 1.2rem;
}

.pkgCard .hotelContainer .hotel .hotelTitle span{
  font-size: 0.9rem;
  color: black;
}
.pkgCard .hotelContainer .hotel .hotelDuration{
  font-weight: bold;
  color: #606060;
  font-size: 0.9rem;
  text-align: right;
}

.pkgCard .featureBox{
  display: flex;
  justify-content: space-around;
}

.pkgCard .featureBox .feature{
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.pkgCard .featureContainer .feature span{
  font-weight: bold;
  color: #545454;
}

.pkgCard .featureContainer .feature svg path{
  color: green;
}

/* Package Card New */
/* .pkgCard{
  border: 1px solid rgb(161, 161, 161);
  border-radius: 16px;
  width: 410px;
}
.pkgCard .textBox{
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pkgCard .textBox .featureBox{
  display: flex;
  justify-content: space-evenly;
}
.pkgCard .textBox .featureBox .feature{
  display: flex;
  flex-direction: column;
}
.pkgImg{
  width: 100%;
  overflow: hidden;
  border-radius: inherit;
} */

/* Footer */
#footer{
  display: flex;
  flex-direction: column;
  color: white;
}
#footer .upper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3rem 2rem;
  flex-wrap: wrap;
  row-gap: 15px;
  /* gap: 10%; */
}
#footer .upper .column{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
#footer .upper .column:nth-child(1){
  max-width: 350px;
}
#footer .upper .column .subColumn{
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

@media screen and (max-width: 940px) {

  /* Mobile Menu */
  #menuIcon{
    display: block;
    align-self: center;
  }

  #mobileMenu{
    display: flex;
  }

  #mobileMenu.open{
    left: 0px;
  }

  /* NavBar */
  #nav ul{
    display: none;
  }

  /* Footer */
  #footer .upper{
    justify-content: normal;
  }

}